<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MaterialWSPortBinding1" />
        <binding name="PersonaWSPortBinding" />
        <binding name="CreadorMaterialWSPortBinding" />
        <binding name="EditorialWSPortBinding" />
        <binding name="EjemplarWSPortBinding" />
        <binding name="SedeWSPortBinding" />
        <binding name="CreadorWSPortBinding" />
        <binding name="PrestamoWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/BiblioWS/MaterialWS"
        binding="basicHttpBinding" bindingConfiguration="MaterialWSPortBinding1"
        contract="MaterialWS.MaterialWS" name="MaterialWSPort1" />
      <endpoint address="http://localhost:8080/BiblioWS/PersonaWS"
        binding="basicHttpBinding" bindingConfiguration="PersonaWSPortBinding"
        contract="PersonaWS.PersonaWS" name="PersonaWSPort" />
      <endpoint address="http://localhost:8080/BiblioWS/CreadorMaterialWS"
        binding="basicHttpBinding" bindingConfiguration="CreadorMaterialWSPortBinding"
        contract="CreadorMaterialWS.CreadorMaterialWS" name="CreadorMaterialWSPort" />
      <endpoint address="http://localhost:8080/BiblioWS/EditorialWS"
        binding="basicHttpBinding" bindingConfiguration="EditorialWSPortBinding"
        contract="EditorialWS.EditorialWS" name="EditorialWSPort" />
      <endpoint address="http://localhost:8080/BiblioWS/EjemplarWS"
        binding="basicHttpBinding" bindingConfiguration="EjemplarWSPortBinding"
        contract="EjemplarWS.EjemplarWS" name="EjemplarWSPort" />
      <endpoint address="http://localhost:8080/BiblioWS/SedeWS" binding="basicHttpBinding"
        bindingConfiguration="SedeWSPortBinding" contract="SedeWS.SedeWS"
        name="SedeWSPort" />
      <endpoint address="http://localhost:8080/BiblioWS/CreadorWS"
        binding="basicHttpBinding" bindingConfiguration="CreadorWSPortBinding"
        contract="CreadorWS.CreadorWS" name="CreadorWSPort" />
      <endpoint address="http://localhost:8080/BiblioWS/PrestamoWS"
        binding="basicHttpBinding" bindingConfiguration="PrestamoWSPortBinding"
        contract="PrestamoWS.PrestamoWS" name="PrestamoWSPort" />
    </client>
  </system.serviceModel>
</configuration>