<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PersonaWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/BiblioWS/PersonaWS"
                binding="basicHttpBinding" bindingConfiguration="PersonaWSPortBinding"
                contract="UsuarioWS.PersonaWS" name="PersonaWSPort" />
        </client>
    </system.serviceModel>
</configuration>