body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Opcional, evita scroll horizontal */
    font-family: "Roboto";
}
.barra-superior {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    padding:1.5em;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.form-select {
    padding: 10px 16px;
    max-width: 10em;
}
.btnBuscar {
    padding: 10px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
}

.btnFiltros {
    padding: 10px 16px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Tarjetas */
.tarjetas {
    
    padding: 0.5em 2em;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
}

    .card .boton-container {
        display:flex;
        justify-content: flex-start;
        margin-top: auto;
    }

.btnDetalle {
    
    width: auto;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
}

/* Panel de filtros */
.panel-filtros {
    position: fixed;
    top: 100px;
    right: 30px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 999;
    width: 260px;
}

.oculto {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px 30px;
    border-radius: 12px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.close-button,
.btn-solicitar {
    margin-top: 20px;
    padding: 10px 18px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

.close-button {
    background-color: #dc3545;
    margin-left: 10px;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

    .close-icon:hover {
        color: #d00;
    }
